[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "agentstack"
version = "0.0.5"
description = "The fastest way to build robust AI agents"
authors = [
    { name="Braelyn Boynton", email="bboynton97@gmail.com" }
]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.11"

dependencies = [
    "typer>=0.12.5",
    "inquirer>=3.4.0",
    "art>=6.3",
    "toml>=0.10.2",
    "ruamel.yaml.base>=0.3.2"
]

[tool.setuptools]
include_package_data = true

[tool.setuptools.package-data]
agentops = ["templates/**/*"]

[project.urls]
"Homepage" = "https://your-repo-url"


[project.scripts]
agentstack = "agentstack.main:main"
