name: Python Tests

on:
  push:
    branches:
      - main
    paths:
      - 'agentstack/**/*.py'
      - 'agentstack/**/*.ipynb'
      - 'tests/**/*.py'
      - 'tests/**/*.ipynb'
  pull_request:
    branches:
      - main
    paths:
      - 'agentstack/**/*.py'
      - 'agentstack/**/*.ipynb'
      - 'tests/**/*.py'
      - 'tests/**/*.ipynb'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.10,3.11,3.12]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Install tox-gh-actions
        run: pip install tox-gh-actions  # allows tox to get the current python version
      - name: Run tests with tox
        run: tox